button{
    background-color:blanchedalmond;
    color: brown;
    height: 30px;
    width: 80px;
    padding: 8px;
    margin: 200px 200px 10px 20px;
    border-radius: 13px;
    border-style: none;
    outline-style: dotted;
    outline-color: black;
    border: red;  
}
button:hover{
    
    background-color: rgb(209, 22, 112);
    color: aliceblue;
    border: 2px solid rgb(59, 10, 208);
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
    cursor: pointer;

}
/* margin short hand*/
/* {
margin:[margin-top,margin-right,margin bottom,margin-left];
}*/
/* by using the margin element we can easily align the button where ever we want*/
